@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*   {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    /*background: #151515;*/
}

#menu   {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16rem;
}

.btn_menu   {
    text-decoration: none;
    text-align: left;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    color: #93ff00;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #93ff00;
    cursor: pointer;
    text-align: center;
}

.projection {
    font-size: 60px;
    color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #93ff00;
    transition: 250ms;
}

.projection_haut    {
    transform: translate(0,71px);
}

.projection_bas {
    transform: translate(0,-71px);
}

.btn_menu:hover .projection {
    transform: scale(1);
    transition: 250ms;
}

/*

        <?php
            $php_click = "<script>document.write(php_click)</script>";
            echo $php_click;
        ?>
        <?php if ($_SESSION["view"] === null):?>
            //render menu

        <?php endif ?>
        <?php if ($_SESSION["view"] === "0"):?>

        <p>Test</p>
            //render        <?php endif ?>
        <?php if ($_SESSION["view"] === "1"):?>
            //render
        <?php endif ?>
        <?php if ($_SESSION["view"] === '2'):?>
            //render
        <?php endif ?>

        $_SESSION['view'];
include 'rerender.php';
$pageSwitcher=null;
 */