#competences {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#box_competences {

}

#box_competences h1 {
    text-align: center;
}

.box_nom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 250ms;
    cursor: pointer;
}

.box_nom:hover {
    transition: 250ms;
    transform: translateX(10px);
}

.box_nom:active {
    transform: translateX(15px);
}

.box_title {
    transform: translateY(25%);
}

.box_progression {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
    transform: translateY(75%);
}

#pourcent {
    transform: translateY(-25%);
}

.barre_progression {
    height: 10px;
    width: 100%;
    border: solid 1px black;
    border-radius: 25px;
}

.progression {
    height: 10px;
    background: black;
    border-radius: 25px;
}

#box_description {

    margin-left: 10%;
}
