#box_competences {
    margin-bottom: 3rem;
}

#box_competences h2 {
    text-align: center;
    margin: 5% 0;
}

.box_nom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 250ms;
    cursor: pointer;
}


.box_title {
    transform: translateY(25%);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box_progression {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
    transform: translateY(75%);
}

#pourcent {
    transform: translateY(-25%);
    display: flex;
    justify-content: center;
}

.barre_progression {
    height: 10px;
    width: 100%;
    border: solid 1px black;
    border-radius: 25px;
    transform: translateY(35%);
}

.progression {
    height: 10px;
    background: black;
    border-radius: 25px;
}

#box_description {

    margin-left: 10%;
}
