.titre_formation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0;
    cursor: pointer;
    padding: 10px 3px;
}
.titre_formation:hover{
    background-color: #ff0059;

}

.formation_description {
    display: flex;
    justify-content: center;
}


.deploy{
    /*
    animation-name: deployContent;
    animation-duration: 0.4s;
    animation-direction: normal;
     */
    display: flex;
}
.hide{
    display: none;
    /*
    animation-name: hideContent;
    animation-duration: 0.4s;
    animation-direction: reverse;
     */
}

/*
@keyframes deployContent {
    0%{
        display: flex !important;
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes hideContent {
    0%{
        transform: scaleY(0);
        display: none !important;
    }
    50% {
        transform: scaleY(1);
    }
    100% {

        visibility: collapse;
    }
}

