#box_presentation {
    margin-top: 10rem;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "nomPrenom photo"
    "text_Home photo";
}

.text_Home { grid-area: text_Home; }

.photo {
    grid-area: photo;
}
.photo img {
max-width: 80%;
height: auto;
border-radius: 1rem;
margin-left: 1rem;
}

.nomPrenom {
    margin-bottom: 2rem;
    grid-area: nomPrenom;
}

.nomPrenom div {
    font-size: 3rem;
}

#nom {
    font-weight: bold;
}

.gridNom:nth-child(2n) {
margin-left: 15%;
}

main div .text {
    text-align: justify;
}